.txtch {
    color: white;
    font-size: 20px;
}


.content {
  overflow-y: hidden;
}

.imgch {
    border: 5px blue solid;
}
      strong {
          font-size: 20px;
          color: antiquewhite;
          background-color: black;
      }

      button {
          background-color: black;
          border: 0;
          width: 500px;
          height: 100%;
      }

 .play {
   width: 100%;
   height: 40%!important;
 }

  .col {
    width: 100%;
    height: 53%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .col div {
    width: 24.5%;
    background-color: #eee;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}

body {
    background-color: black;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
  }